html{
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}

body {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

#Top{
    font-family: 'Dokdo', cursive;
    background-image: url("assets/background_top.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    /* background-size: cover; */
}

#btn_About{
    font-size: 35px;
    height: 60px;
}

#online{
    font-family: 'Dokdo', cursive;
}


#div_canvas{
    width: 800px;
    height: 750px;
    float: left;
    margin-left: 50px;
    cursor: url(./assets/SimBlack/Handwriting.cur), auto;
}

    .canvas{
        /* border: 1px solid black; */
        background-image: url("assets/canvas.jpg");
        background-repeat: no-repeat;
        /* background-color: #cccccc; */
        background-size: 800px 600px;
        background-color: white;
        z-index: 1;
    }

    .canvas_buffer{
        /* border: 1px solid brown; */
        visibility: hidden;
        position:absolute;
        z-index: 2;
    }

    
    #btn_download{
        text-align: center;
        font-family: 'Mrs Sheppards', cursive;
        font-size: 30px;
        width: 500px;
        height: 70px;
        margin-top: 50px;
        margin-left: 150px;
    }

#myMenu{
    float: right;
    margin-right: 50px;
    width: 360px;
    color: lightgrey;
}


.textinput{
    border: 1px solid black;
    background-color:transparent;
    position:absolute;
    z-index: 3;

    cursor: url(./assets/SimBlack/Text.cur), text;
}


#myColorMenu{
    width: 360px;
    height: 210px;
}

    .colorSelector{
        cursor: url(./assets/SimBlack/Precision.cur), crosshair;
        border: 1px solid black;
    }

    #myShowColor{
        width: 180px;
        height: 50px;
        float: left;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color: black;
    }

    #myShowColor_now{
        width: 180px;
        height: 50px;
        float: left;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color: black;
    }

#drawtype{
    text-align: center;
}

#widthbar{
    width: 360px;
    height: 33px;
    vertical-align: middle;
    font-family: 'Dokdo', cursive;
    font-size: 30px;
}

#linewidth{
    -webkit-appearance: none;
    overflow:hidden;     /* 限定範圍 */
    width: 230px;
    height: 33px;
    outline : none;      /* 避免點選會有藍線或虛線 */
    background:none;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}

input[type="range"]{
    -webkit-appearance: none;
    overflow:hidden;     /* 限定範圍 */
    width:200px;
    height:20px;
    outline : none;      /* 避免點選會有藍線或虛線 */
    background:none;
  }

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
    width:10px;
    height:10px;
    background:#f22;
    border-radius:50%;
    transition:.2s;        /* 點選放大時候的漸變時間 */
  }

  

#widthbar{
    width: 360px;
    height: 33px;
    vertical-align: middle;
    font-family: 'Dokdo', cursive;
    font-size: 30px;
}

#linewidth{
    -webkit-appearance: none;
    overflow:hidden;     /* 限定範圍 */
    width: 230px;
    height: 33px;
    outline : none;      /* 避免點選會有藍線或虛線 */
    background:none;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}

#myfontselec_title{
    font-family: 'Dokdo', cursive;
    font-size: 25px;
}

#fontsizebar{
    width: 360px;

    vertical-align: middle;
    font-family: 'Dokdo', cursive;
    font-size: 25px;
}

#fontsize{
    -webkit-appearance: none;
    overflow:hidden;     /* 限定範圍 */
    width: 230px;
    height: 33px;
    outline : none;      /* 避免點選會有藍線或虛線 */
    background:none;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}

#btns{
    text-align: center;

}


.btn{
    color: white;
    font-family: 'Dokdo', cursive;
    font-size: 20px;
    text-align: center;
}



#imageupload{
    padding-top: 10px;
    width: 200px;
    height: 40px;
    float: right;
    font-family: 'Dokdo', cursive;
}

.About{
    width: 100%;
    float: left;
    text-align: center;
}


#myfontselec{
    font-family: 'Montserrat', sans-serif;
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}

#myfontselec_0{
    font-family: 'Montserrat', sans-serif;
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}

#myfontselec_1{
    font-family: 'Mrs Sheppards', cursive;
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}

#myfontselec_2{
    font-family: 'Indie Flower', cursive;
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}

#myfontselec_3{
    font-family: 'Noto Sans TC', sans-serif;
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}

#myfontselec_4{
    font-family: 'Press Start 2P', cursive;
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}
#myfontselec_5{
    font-family: 'Dokdo', cursive;
    cursor: url(./assets/SimBlack/Normal.cur), auto;
}


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Mrs Sheppards', cursive; */
/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Noto Sans TC', sans-serif; */
/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Dokdo', cursive; */
